body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/assets/imf1.jpg');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.form-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.btn-submit {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #ea7340;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #d66337;
}
.custom-confirm-button {
  background-color: #ea7340 !important;
}

.custom-icon {
  font-size: 40px !important;
}
